#duster-tool {
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}

#duster-tool-img {
    width: 32px;
    height: 32px;
}