#chalk-tool {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 180px;
    cursor: pointer;
    border: 1px solid white;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 3px;
  }

  #chalk-tool:active {
    filter: brightness(300%);
    transition: filter 0.3s ease-in-out;
  }
  
  #color-palette, #design-palette {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2px;
  }
  
 .chalk-design {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
 }

  .color-palette-item {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  
  .color-palette-item.active, .chalk-design.active {
    border: 2px solid white;
  }
  
  .color-palette-item.inactive, .chalk-design.inactive{
    border: 2px solid #000;
  }
