#palette {
  position: absolute;
  height: 60px;
  width: 570px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  background-color: gray;
}

#palette-collapsed {
  position: absolute;
  width: 60px;
  height: 32px;
  background-color: white;
}

.palette-resizer {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.palette-resizer img {
  width: 32px;
  height: 32px;
}

.simple-btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid darkgray;
  background-color: transparent;
  box-sizing: border-box;
}

.simple-btn.active {
  border-width: 2px;
  border-color: white;
}

.simple-btn.active:hover {
  background-color: antiquewhite;
}

.tool-img {
  height: 32px;
  width: 32px;
}