#palette {
    position: absolute;
    left: 20px;
    right: 20px;
    height: 70px;
    bottom: 2px;
    display: flex;
    align-items: center;
    gap: 2px;
  }
  
  #clear-tool {
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
  }

  .clear-tool-img {
    height: 32px;
    width: 32px;
  }