#palette {
  position: absolute;
  height: 45px;
  width: 600px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  background-color: rgb(40, 50, 60);
  z-index: 99;
  border-radius: 5px;
  border: 2px solid black;
  box-sizing: border-box;
}

#palette-collapsed {
  position: absolute;
  width: 44px;
  height: 36px;
  background-color: white;
  z-index: 99;
  border-radius: 5px;
  border: 2px solid black;
  box-sizing: border-box;
  background-color: rgb(40, 50, 60);
}

.palette-resizer {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: transform 300ms ease-in;
  background-color: transparent;
  border: 2px solid rgb(120, 120, 120);
}

.palette-resizer img {
  width: 24px;
  height: 24px;
}

.palette-resizer.expand:hover img {
  transform: scale(1.2);
}

.palette-resizer.collapse:hover img {
  transform: scale(0.75);
}

.simple-btn {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(120, 120, 120);
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 10px;
}

.simple-btn.active:hover img {
  transform: scale(1.2);
  transition: transform 300ms ease-in-out;
}

.simple-btn.active:active,
.palette-resizer:active {
  background-color: rgb(100, 100, 255);
  border-color: white;
}

.simple-btn.active {
  border-width: 2px;
}

.simple-btn.inactive {
  border-color: rgb(80, 80, 80);
}

.simple-btn.active:hover:not(:active),
.palette-resizer:hover:not(:active) {
  background-color: rgb(100, 100, 100);
}

.tool-img {
  width: 24px;
  height: 24px;
}