#boardcontainer {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#board {
  width: 100%;
  height: 100%;
  background-color: rgb(50, 50, 50);
  box-sizing: border-box;
}